:root {
    --padding: 
}
*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.pro {
    background-color: #d5e1ef;
    width: 800px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card {
    background-color: white;
    width: 250px;
    height: 400px;
    border-radius: 10px;
   
}

.pro .card img {
    width: 225px;
    border-radius: 10px; 
    margin: 10px 13px;
}

.info {
    font-weight: bold;
    padding: 0 20px;
    text-align: center;

}

.dtail {
    padding: 0 20px ;
    color: rgba(119, 119, 119, 0.774);
    text-align: center;
}